.task {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0 0 5px #555;
  display: block;
  position: relative;
  background: var(--vscode-editor-background);
  textarea {
    width: calc(100% - 10px);
    resize: none;
  }
  * {
    margin: 2px 0;
  }
  ul {
    padding-left: 20px;
  }
  &:hover .close {
    display: block;
  }
}
.placeholder {
  opacity: 0.5;
}
.close {
  position: absolute;
  right: 5px;
  top: -5px;
  display: none;
  cursor: pointer;
  z-index: 100;
  &:hover {
    color: red;
  }
}
