.task {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0 0 5px #555;
  display: block;
  position: relative;
  background: var(--bg);
  header {
    text-align: center;
    box-shadow: 0 0 2px currentColor;
    margin: -5px;
    margin-bottom: -5px;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
    padding-bottom: 2px;
    position: relative;
    button {
      all: unset;
      display: none;
      position: absolute;
      right: 24px;
      top: 0;
      cursor: pointer;
      padding: 0 5px;
      &:hover {
        color: orange;
      }
      svg {
        padding: 5px;
      }
    }

    button:first-of-type {
      right: 48px;
    }

    .close {
      right: 2px;
      &:hover {
        color: red;
      }
    }
    .check {
      right: 2px;
      &:hover {
        color: #00ff00;
      }
    }
  }

  &:hover button {
    display: inline-block;
  }
  textarea {
    width: calc(100% - 10px);
    resize: none;
    border-radius: 2px;
  }
  * {
    margin: 2px 0;
  }
  ul {
    padding-left: 20px;
  }
}
.active {
  box-shadow: 0 0 5px red;
}
.placeholder {
  opacity: 0.5;
}
