.columnList {
  display: flex;
  align-items: start;
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: hidden;
}
.columnContainer {
  height: 100%;
}
.columnDropzone {
  padding: 10px;
  height: 100%;
}
.column {
  min-width: 300px;
  max-width: 300px;
  max-height: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  box-shadow: 0 0 5px #555;
  background: var(--bg);
}
.header {
  button {
    all: unset;
    display: none;
    cursor: pointer;
  }
  &:hover button {
    display: block;
  }
  button:hover {
    color: orange;
  }

  .close:hover {
    color: red;
  }
  svg {
    padding: 5px;
    display: block;
  }
}
.headerContent {
  cursor: grab;
  display: flex;
  padding: 0 5px;
  align-items: center;
}
.placeholder {
  opacity: 0.5;
}
.addTask {
  margin: 0 5px;
  width: calc(100% - 10px);
  cursor: pointer;
  padding: 3px 5px;
}
.addColumn {
  margin: 10px;
  padding: 5px;
  width: 120px;
  min-width: 120px;
  cursor: pointer;
}
.taskList {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  padding: 0 10px;
  margin: 0 -10px;
}
