.drawer {
  transition: all 0.3s;
  width: 0;
  opacity: 0;
  box-shadow: 0 5px 5px gray;
  overflow: auto;
  height: calc(100vh - 60px);
  ul {
    padding: 0;
    list-style-type: none;
  }
  a,
  label {
    padding: 20px;
    display: block;
    color: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 0 5px gray;
      letter-spacing: 1px;
      padding: 22px 20px;
      font-size: 1.2em;
    }
  }
  b {
    font-size: 1.2em;
    padding-right: 5px;
  }
}
.open {
  width: 320px;
  opacity: 1;
}
