.board {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  color: var(--text-color);
}

.header {
  padding: 0 20px;
  background: #fff3;
  backdrop-filter: blur(3px);
  z-index: 100;
}

.theme1 {
  background: linear-gradient(-45deg, blue, red);
}

.theme2 {
  background: linear-gradient(-45deg, orange, red);
}

.dark {
  .header {
    background: #0003;
  }
}

.empty {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  h1 {
    opacity: 0.3;
  }
  button {
    cursor: pointer;
    padding: 10px;
    width: 150px;
    margin: 20px;
  }
}
