.board {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  padding: 0 20px;
  backdrop-filter: blur(3px);
  z-index: 100;
  text-align: center;
  h1 {
    font-size: 1.5em;
    margin: 10px;
  }
}

.main {
  display: flex;
  flex-grow: 1;
}

.theme1 {
  background: linear-gradient(-45deg, blue, red);
}

.theme2 {
  background: linear-gradient(-45deg, orange, red);
}

.install {
  all: unset;
  position: fixed;
  bottom: 20px;
  right: 40px;
  display: block;
  padding: 10px 20px 12px 20px;
  cursor: pointer;
  background: linear-gradient(-45deg, orange, red);
  font-weight: bold;
  border-radius: 10px;
  text-shadow: 2px 3px 5px #558;
  box-shadow: 2px 2px 5px #555;
  &:hover {
    box-shadow: none;
  }
  &:active {
    box-shadow: -2px -2px 5px inset #555;
  }
}
