.board {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--bg);
  color: var(--text-color);
}

.header {
  padding: 0 20px;
  backdrop-filter: blur(3px);
  z-index: 100;
  text-align: center;
  h1 {
    font-size: 1.5em;
    margin: 10px;
  }
}

.theme1 {
  background: linear-gradient(-45deg, blue, red);
}

.theme2 {
  background: linear-gradient(-45deg, orange, red);
}
