@import "nextjs-themes/styles";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bg: var(--vscode-editor-background, #242424);
  --fg: var(--vscode-editor-foreground, rgba(255, 255, 255, 0.87));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--fg);
  background-color: var(--bg);
}

.Browser {
  color: var(--fg);
  background-color: var(--bg);
}

* {
  box-sizing: border-box;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  outline: none;
  border: none;
  color: inherit;
}

a {
  text-decoration: none;
}

[hidden] {
  display: none !important;
}

.light,
.light .Browser {
  --fg: #213547;
  --bg: #fff;
}
.dark,
.dark .Browser {
  --bg: #242424;
  --fg: rgba(255, 255, 255, 0.87);
}

[data-csp="system"] {
  --bg: var(--vscode-editor-background);
  --fg: var(--vscode-editor-foreground);
}
