:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bg: var(--vscode-editor-background, #242424);

  color: var(--vscode-editor-foreground, rgba(255, 255, 255, 0.87));
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  outline: none;
  border: none;
  color: inherit;
}

a {
  text-decoration: none;
}

[hidden] {
  display: none !important;
}
@media (prefers-color-scheme: light) {
  :root {
    color: var(--vscode-editor-foreground, #213547);
    --bg: var(--vscode-editor-background, #fff);
  }
}
